<div class="home-callout text-center container-fluid">
    <h1>Welcome to Charlotte On The Web</h1>    
    <h3>The best place on the web to find gorgeous, hand-made Spiders.</h3>
    
    <div class="container home-page-spider-container flex-shrink">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "https://s16-us2.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fi2.wp.com%2Fwww.123freevectors.com%2Fwp-content%2Fuploads%2Fnew%2Fanimals%2F214-free-spider-vector-image.png&sp=4c9e91d29caef7816409a5f29a629d33", class: "home-page-spider-image" %>
                <%= image_tag "https://s16-us2.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fi2.wp.com%2Fwww.123freevectors.com%2Fwp-content%2Fuploads%2Fnew%2Fanimals%2F214-free-spider-vector-image.png&sp=4c9e91d29caef7816409a5f29a629d33", class: "home-page-spider-image" %>
                <%= image_tag "https://s16-us2.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fi2.wp.com%2Fwww.123freevectors.com%2Fwp-content%2Fuploads%2Fnew%2Fanimals%2F214-free-spider-vector-image.png&sp=4c9e91d29caef7816409a5f29a629d33", class: "home-page-spider-image" %>
                <%= image_tag "https://s16-us2.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fi2.wp.com%2Fwww.123freevectors.com%2Fwp-content%2Fuploads%2Fnew%2Fanimals%2F214-free-spider-vector-image.png&sp=4c9e91d29caef7816409a5f29a629d33", class: "home-page-spider-image" %>
                <%= image_tag "https://s16-us2.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fi2.wp.com%2Fwww.123freevectors.com%2Fwp-content%2Fuploads%2Fnew%2Fanimals%2F214-free-spider-vector-image.png&sp=4c9e91d29caef7816409a5f29a629d33", class: "home-page-spider-image" %>
            </div>
        </div>
    </div>
</div>
